<div class="insertar-personaje">
  <p-button
    id="btnInsertarPersonaje"
    label="Insertar Nuevo Personaje"
    icon="pi pi-plus-circle"
    (onClick)="insertar()"
  >
  </p-button>
</div>

<div class="tabla-contenedor">
  @if (listaDePersonajes().length > 0) {
    <p-table 
      [value]="listaDePersonajes()" 
      [paginator]="true" 
      [rows]="5" 
      border="1">
      
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">
            Nombre <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="raza">
            Raza <p-sortIcon field="raza"></p-sortIcon>
          </th>
          <th pSortableColumn="fechaNacimiento">
            Fecha de Nacimiento <p-sortIcon field="fechaNacimiento"></p-sortIcon>
          </th>
          <th pSortableColumn="nivelCorrupcion">
            Corrupción <p-sortIcon field="nivelCorrupcion"></p-sortIcon>
          </th>
          <th>Edición</th>
          <th>Baja Física</th>
          <th>Baja Lógica</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-personaje>
        <tr>
          <td>{{ personaje.nombre }}</td>
          <td>{{ personaje.raza }}</td>
          <td>{{ personaje.fechaNacimiento }}</td>
          <td>{{ personaje.nivelCorrupcion }}%</td>

          <td>
            <p-button
              label="Editar"
              icon="pi pi-pencil"
              [outlined]="true"
              (onClick)="editar(personaje.id)"
            />
          </td>

          <td>
            <p-button
              severity="danger"
              [outlined]="true"
              (onClick)="prepararBajaFisica(personaje, $event)"
              pTooltip="Baja Física" tooltipPosition="top">
              <img src="./assets/img/img-bajafisica.png" alt="Baja Física" width="20" height="20">
            </p-button>
          </td>

          <td>
            @if (!personaje.fechaBaja) {
              <p-button
                severity="warn"
                [outlined]="true"
                (onClick)="prepararBajaLogica(personaje, $event)"
                pTooltip="Baja Lógica" tooltipPosition="top">
                <img src="./assets/img/img-bajalogica.png" alt="Baja Lógica" width="20" height="20">
              </p-button>
            } @else {
              <p-button
                severity="success"
                [outlined]="true"
                (onClick)="prepararReactivacion(personaje, $event)"
                pTooltip="Reactivar" tooltipPosition="top">
                <img src="./assets/img/img-reactivar.png" alt="Reactivar" width="20" height="20">
              </p-button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <p>No se han encontrado personajes...</p>
  }
</div>

<app-confirmar-popup [config]="configuracionHijo"></app-confirmar-popup>