<h2>Lista de Personajes</h2>

<div class="tabla-contenedor">
    @if (listaDePersonajes().length > 0) {
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Corrupción</th>
                </tr>
            </thead>
            <tbody>
                @for (personaje of listaDePersonajes(); track personaje.id) {
                    <tr>
                        <td>{{ personaje.nombre }}</td>
                        <td>{{ personaje.raza }}</td>
                        <td>{{ personaje.fechaNacimiento }}</td>
                        <td>{{ personaje.nivelCorrupcion }}%</td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <p>No se han encontrado personajes o cargando...</p>
    }
</div>