table {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border: black solid 3px;
    padding: 6px;
}

table td {
    border: green solid 3px;
}

.botonera {
    text-align: center;
    margin-top: 2%;
}

.botonera input {
    padding: 10px;
    margin: 10px;
}